---

---
<nav class="bg-zold-base-d w-full h-16 mx-auto flex flex-col justify-center">
    <div class="w-max h-full bg-white flex justify-center px-2">
        <img src="../assets/logo.svg" alt="">
    </div>
</nav>