---
import AlapLayout from '../layouts/AlapLayout.astro';
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Szadakút Kft.</title>

    <link rel="stylesheet" href="{Astro.resolve('../styles/global.css')}">

</head>
<body>
    <AlapLayout>

    </AlapLayout>
</body>
</html>
