---
import Fejlec from '../components/Fejlec.astro';
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Zengő Motorsport</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />

    <link rel="stylesheet" href="{Astro.resolve('../styles/global.css')}">
</head>
<body>
    <Fejlec />
</body>
</html>
